In [1]:
import pandas as pd
import numpy as np

import matplotlib as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

Matplotlib is building the font cache; this may take a moment.

In [2]:
path = r'D:\Data_Projects\Instagram_Reach_Analysis\Instagram_Reach_Analysis\Src\Data\Instagram data.csv'

In [3]:
data = pd.read_csv(path, encoding='latin1')

In [4]:
data.head()

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Caption,Hashtags
0,3920,2586,1028,619,56,98,9,5,162,35,2,Here are some of the most important data visua...,#finance #money #business #investing #investme...
1,5394,2727,1838,1174,78,194,7,14,224,48,10,Here are some of the best data science project...,#healthcare #health #covid #data #datascience ...
2,4021,2085,1188,0,533,41,11,1,131,62,12,Learn how to train a machine learning model an...,#data #datascience #dataanalysis #dataanalytic...
3,4528,2700,621,932,73,172,10,7,213,23,8,Heres how you can write a Python program to d...,#python #pythonprogramming #pythonprojects #py...
4,2518,1704,255,279,37,96,5,4,123,8,0,Plotting annotations while visualizing your da...,#datavisualization #datascience #data #dataana...